#information_container
  #topiclist
    %a{href: url_for(action: 'index', trailing_slash: 'true')}
      = t('info.index')
    %a{href: url_for(action: 'engine'), class: 'active'}
      = t('info.engine')      
    %a{href: url_for(action: 'rules')}
      = t('info.rules')
    %a{href: url_for(action: 'contacts')}
      = t('info.contacts')
  %blockquote{id: 'engine'}
    %p
      Движок называется <b>Omicron</b>. Он самописный, пишется на Ruby on Rails. Не стесняйтесь высказывать свои
      пожелания относительно дизайна и функционала движка, все они будут рассмотрены и по возможности реализованы. 
      %br
      Большое влияние на движок оказал небезызвестный&nbsp;
      %a{href: "http://orphereus.anoma.ch", target: '_blank'}<>
        Orphereus
      \. Многие технические решения скопированы с него полностью (с разрешения создателей, разумеется), например,
      тэги и пруфметки.
  %blockquote{id: 'anonymity'}
    %h2 Анонимность
    %p
      Анонимность в движке реализована почти так же, как и у всех. Нет никакой регистрации, и единственное, 
      что движок знает о пользователе &mdash; его IP-адрес. Но, в отличие от других движков, Omicron раз в двое суток
      (по таймеру) удаляет из всех сообщений, которые старше двух дней, айпи-адреса их авторов. То есть, по прошествии
      примерно двух дней с момента отправки сообщения его авторство смогут установить только спецслужбы, если обратятся
      с заявлением к хостеру нашего сайта.
      %br
      Логи сервера тоже своевременно чистятся.
  %blockquote{id: 'tags'}
    %h2 Тэги
    %p
      В движке нет четко определенных досок, но зато есть тэги, которые их заменяют. 
      %br 
      Как это работает: при создании треда вы можете указать один или несколько тэгов, под которые он подходит.
      Например, если вы создадите тред с тэгами <b>b</b> и <b>s</b>, то он будет показываться в при 
      просмотре обоих этих тэгов.
      %br
      Можно просматривать тэги по одному, как на классической имиджборде, а можно зайти в тэг <b>~</b> (обзор)
      &mdash; в нем отображаются все треды со всех тэгов. В настройках можно, например, отключить показ 
      определенного тэга в обзоре.
      %br
      Если вам не хватает какого-то определенного тэга, напишете об этом в /d/. 
      %br
      В скором будущем будет реализована возможность просматривать несколько выбранных тэгов одновременно.

  %blockquote{id: 'proofmarks'}
    %h2 Пруфметки
    %p
      Пруфметки, или пруфмарки, созданы на замену трипкодам. Вы, наверное, заметили, что в форме для создания 
      постов и тредов есть поле &laquo;пароль&raquo;. Он нужен для двух вещей: удаления своих постов и создания
      пруфметок. 
      %br
      Как это работает. Допустим, вы написали пост под номером 1337. Если в каком-нибудь другом посте вы напишете
      \##1337, то движок найдет этот пост и проверит, совпадает ли пароль этого поста с паролем того поста, в котором
      вы ставите пруфметку. Если пароли все-таки совпадают, то пруфметка будет подсвечена зеленым цветом, вот так:&nbsp;
      %a{href: '#proofmarks', class: 'proofmark'}<>
        \##1337
      \. А если пароли не совпадают, то никаких цветов видно не будет.
      %br
      С помощью этого хитрого трюка можно показать всем, что вы автор определенного сообщения. Но невозможно доказать, что
      вы 
      %b не являетесь
      автором этого сообщения, вы ведь просто могли сменить пароль и насемёнить.
  %blockquote{id: 'markup'}
    %h2 Разметка сообщений
    %p
      %object
        %table
          %tr
            %td.header Текст с разметкой
            %td.header Результат
          %tr
            %td **Жирный текст**
            %td 
              %b Жирный текст
          %tr
            %td *Наклонный текст*
            %td
              %i Наклонный текст
          %tr
            %td __Подчеркнутый текст__
            %td
              %u Подчеркнутый текст
          %tr
            %td _Зачеркнутый текст_
            %td
              %s Зачеркнутый текст
          %tr
            %td %%Текст под спойлером%%
            %td
              .spoiler Текст под спойлером
          %tr
            %td &gt; Цитата
            %td
              .quote &gt; Цитата
          %tr
            %td --
            %td &mdash;
          %tr
            %td <<текст в кавычках>>
            %td &laquo;текст в кавычках&raquo;
          %tr
            %td [http://2ch.ru || Двач]
            %td
              %a{href: 'http://2ch.ru'} Двач
          %tr
            %td &gt;&gt;1337
            %td
              %a{href: '#markup'} &gt;&gt;1337
              %br
              Ссылка на сообщение #1337
          %tr
            %td ##1337
            %td
              %a{href: '#markup', class: 'proofmark'} ##1337
              %br
              Пруфметка (см. выше)
          %tr
            %td ##OP или ##ОП
            %td
              %a{href: '#markup', class: 'proofmark'}<>
                = "##OP"
              &nbsp;или&nbsp;
              %a{href: '#markup', class: 'proofmark'}<>
                = "##ОП"
              %br
              Пруфметка для автора треда