#delete_disclaimer
  %h2
    = "Удалить пост ##{@post.rid}"
    из треда
    %a{href: url_for(action: 'show', rid: @post.r_thread.rid, format: 'html')}
      ="##{@post.r_thread.rid}"
  = render(partial: 'post', object: @post)
  %p
    Можно удалять свои посты в течение
    %i 5 минут 
    после их создания. 
    %br
    -if (Time.new - @post.created_at) < 300
      Для этого нужно ввести пароль, с которым этот пост был создан.
      = form_tag(url_for(action: 'delete', rid: @post.rid), method: 'post', id: 'delete_form') do
        .errors= render(partial: 'errors')
        %input{name: 'password', type: 'password', value: cookies[:password]}
        %br
        %label{for: 'delete_file_only'} Удалить только файл
        %input{type: 'checkbox', name: 'file_only', checked: false, id: 'delete_file_only'}
        %br
        %input{type: 'submit', value: t('interface.delete')}
    -else
      %span{style: 'color:red'} Вы опоздали.